{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-center">Connexion !</h1>

	<form action="{{ path('security_login') }}" method="post" class="d-flex flex-column align-items-center">
		<div class="mb-3 w-50">
			<label for="email">Adresse email</label>
			<input type="email" name="_username" placeholder="test@email.com" class="form-control" id="email" required>
		</div>

		<div class="w-50">
			<label for="password">Mot de passe</label>
			<input type="password" name="_password" placeholder="Mot de passe" class="form-control" id="password" required>
		</div>

		<div class="mt-3">
			<button type="submit" class="btn btn-success">Connexion</button>
		</div>
	</form>

	<div class="text-center mt-5">
		Pas encore de compte ?<br>
		<a href="{{ path('security_registration') }}" class="btn btn-info">Inscrivez vous</a>
	</div>

</p>{% endblock %}
