{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, voluptatibus ullam labore illo, quis provident vel minus eum quas exercitationem, perspiciatis ex. Minima officia nostrum dolorum tenetur cumque consectetur quaerat nihil itaque earum. Adipisci, molestias a quod excepturi aut est!</p>
    <p>Libero dolor, consectetur aspernatur nulla nisi fugiat rem sed quam incidunt magni non deserunt ad ut ducimus facere nostrum velit neque tempore voluptatem quia porro? Aperiam dolore dicta impedit eos maxime laborum, a enim porro molestias facilis et quod. Vero?</p>

    <p class="d-flex justify-content-center mt-5">
        <img src="{{ asset('images/blog-home.png') }}" alt="Blog home" width="80%">
    </p>
{% endblock %}